html{
  font-family:sans-serif;
    font-size: 2em;
    scroll-behavior:smooth;
}
body{
  margin: 0px;
  padding: 0px;
}
@font-face {
   font-family: myFirstFont;
   src: url(game_glm-webfont.woff);
}
@font-face {
   font-family: myFirstFont1;
   src: url(aldotheapache-webfont.woff);
}
@font-face {
   font-family: myFirstFont2;
   src: url(adventure-webfont.woff);
}
@font-face {
   font-family: myFirstFont3;
   src: url(spantaran_demo-webfont.woff);
}
.menu{
  display: none;
}
.dropbtn {
  background-image:url("https://img.icons8.com/nolan/64/menu.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: inherit;
 margin: 5px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: inherit;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
header{
  width: 100%;
  padding-top: 10px;
background-color: #000000;
position: -webkit-sticky;
 position: sticky;
 top: 0;
}
.top{
  text-align: center;
  font-family: myFirstFont;
  font-size: 2.5em;
  padding-top: 10px;
  padding-bottom: 10%;
  background-color: #FFBE0B;
  background-image: url('https://www.digitaltveurope.com/files/2020/08/telekom-gaming.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #09b800;
}
.down{
  font-size: 0.5em;
  background-image: linear-gradient(to right, #2e0af7, #f70aeb);
  color: #ffffff;
  font-family:sans-serif;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  margin-bottom: 5%;
}
.left-1{
  width:100%;
  display: none;
}
.right-1{
  width: 100%;
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.rec{
  font-size:1em;
  padding:30px;
  background-color:inherit;
  border: solid 2px #000000;
  border-radius:10px;
  font-weight:bolder;
  margin: 5%;
}
.rec:visited,.rec:active{
  color: #ffffff;
  background-color: #000000;
}

.left-2{
  width: 100%;
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.right-2{
  width:100%;
}
.right-3{
  width: 100%;
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.left-3{
  width:100%;
}

.subs{
  background-image: url("https://i.pinimg.com/originals/84/1b/e2/841be2ff1e0ce35beca92c26a07556e8.jpg");
  background-position: center;
  color: #ffffff;
}
.pay{
  border-radius: 50px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ffffff;
  color: #000000;

}
ul {
  list-style-image: url('https://img.icons8.com/officexs/40/000000/checked.png');
  font-family: myFirstFont1;
}
ul a{
  margin-bottom: 10px;
}
.buy{
  text-align: center;
  padding-left:40px;
  padding-right:40px;
  background-color: #ffd914;
  font-size:1.5em;
  font-family: myFirstFont2;
  padding-bottom:20px;
  border-radius:10px;
  font-weight:bolder;
  margin-left:32.5%;
  margin-bottom: 20px;
}
.questions{
  list-style-image: url('https://img.icons8.com/cute-clipart/64/000000/controller.png');
  margin-left: 2%;
  margin-right: 2%;
}
.ask{
  text-align: center;
  font-size: 1em;
  background-color: inherit;
  padding-left: 40px;
  padding-right: 40px;
  font-family:sans-serif;
  font-weight: 900;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: solid 2px #000000;
}
.ask:active,.ask:visited{
  background-color: #000000;
  color:#ffffff;
}
.ready{
  background-image: url("https://wallpaperaccess.com/full/168399.jpg");
  background-position: center;
 width: 100%;
  text-align:center;
}
.into{
  text-align: center;
  font-size: 1em;
  background-image: linear-gradient(to right, #2e0af7, #f70aeb);
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  font-family:sans-serif;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  margin-bottom: 5%;
}
.into:active,.into:visited{
  background-color: #000000;
  background-image: url();
  color:#ffffff;
}
.follow{
  display: inline-block;
}
.res{
  position:fixed;
  position: fixed;
  bottom: 2%;
  left: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  max-width:400px;
  max-height: inherit;
    background-color: #b200ed;
}
.logo{
  width:250px;padding:5px;
}
h1{
  font-size:2.5em;
}
@media screen and (min-width: 1080px) {
.dropbtn{
  display: none;
}
.menu{
  display: inline;
  float: right;
  margin-right: 50px;
}
.menu a{
  float: left;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
 font-size: 0.8em;
}
.logo{
  width:150px;
 padding: 0px;
}
.top{
  text-align: center;
  font-family: myFirstFont;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 1%;
  background-color: #FFBE0B;
  background-image: url();
  color: #09b800;
}
.down{
  font-size: 0.5em;
  background-image: linear-gradient(to right, #2e0af7, #f70aeb);
  color: #ffffff;
  font-family:sans-serif;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  margin-bottom: 5%;
}
.left-1{
  display: inline-block;
  float:left;
  width:40%;
    background-color: #000000;
    height: 500px;
}
.right-1{
  display: inline-block;
  float: right;
  width: 60%;
  font-size: 1em;
  height: 500px;
  padding: 0px;
}
.rec{
  font-size:0.4em;
  padding:15px;
  background-color:inherit;
  border: solid 2px #000000;
  border-radius:5px;
  font-weight:bolder;
  margin: 2%;
}
.right-2{
  display: inline-block;
  float:right;
  width:40%;
    height: 500px;
    background-color: #000000;
}
.left-2{
  display: inline-block;
  float: left;
  width: 60%;
  font-size: 1em;
  height: 500px;
  padding: 0px;
}
h2{
  font-size: 1em;

}
p{
  font-size: 0.8em;
}
.left-3{
  display: inline-block;
  float:left;
  width:40%;
    height: 500px;
    background-color: #000000;
}
.right-3{
  display: inline-block;
  float: right;
  width: 60%;
  font-size: 1em;
  height: 500px;
  padding: 0px;
}
.eg{
  width:0;
  height: 100%;
}
.pay{
  border-radius: 10px;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #ffffff;
  color: #000000;
  width: 30%;
  display: inline-block;
}
.buy{
  text-align: center;
  padding-left:20px;
  padding-right:20px;
  background-color: #ffd914;
  font-size:0.8em;
  font-family: myFirstFont2;
  padding-bottom:10px;
  border-radius:10px;
  font-weight:bolder;
  margin-left:30%;
  margin-bottom: 20px;
}
.questions{
  font-size: 0.5em;
}
.ask{
  text-align: center;
  font-size: 0.5em;
  background-color: inherit;
  font-family:sans-serif;
  font-weight: 900;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: solid 2px #000000;
}
.start{
  font-size: 0.5em;
}
.into{
  font-size: 0.5em;
}

}
